a{
    color: #f2f2f2;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 1.5em;
  
    background-color: #E4F5FF;;
    color: #017935;
  }
  
  header {
    background-color:#062666;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .leftnews {
    padding: 20px;
    width: 20%;
    height: 20%;
  float: left;
  }
  .rightnews {
    padding: 20px;
    width: 20%;
    height: 20%;
  float: right;
  }
  .centernews {
    padding: 20px;
    width: 20%;
    height: 20%; }
  
  .news article {
    margin-bottom: 20px;
  }
  
  .headline {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .headline img {
    width: 100%;
    height: auto;
    border-radius: 2%;
  }
  
  .headline h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  footer {
    background-color:#062666;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #bord{
      border-bottom: solid grey;
  }
  
  #imag{
      width: 30%;
      height: 30%;
      border-radius: 0%   ;
  }