body {
            
    margin: 0;
    padding: 0;
    background-color: #E4F5FF;
  
}
.container {
  font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}
h1 {
    text-align: center;
    color: #ffffff;
}
h2{
  color: grey;
}
p {
    color: #585454;
}
.contact-info {
    margin-bottom: 20px;
}
.contact-info p {
    margin: 5px 0;
}
form {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
label {
  font-family: Arial, sans-serif;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
body {

margin: 0;
padding: 0;
font: inherit;
font-size: 1.5em;

background-color: #E4F5FF;;
color: black
}

header {

background-color:#062666;
color: #fff;
padding: 10px;
text-align: center;
}

header h1 {
margin: 0;
}

nav ul {
font-family: Arial, sans-serif;
list-style-type: none;
padding: 0;
}

nav ul li {
display: inline;
margin-right: 20px;
}

nav ul li a {
color: #fff;
text-decoration: none;
}

footer {
background-color:#062666;
color: #fff;
text-align: center;
padding: 1px 0;
position: fixed;
bottom: 0;
width: 100%;
font-family: Arial, sans-serif;
}